/* DEFAULTS */
*,
*::before,
*::after,
*::placeholder {
  margin: 0;
  padding: 0%;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  resize: none;
  font-size: 16px;
  font-weight: normal;
  color: black;
  background-color: rgba(0, 0, 0, 0);

  font-family: "Noto Sans";
}

:root {
  --xd-width: 1366;

  /* FONT WEIGHTS */
  --fw_thin: 100;
  --fw_extra-light: 200;
  --fw_light: 300;
  --fw_normal: 400;
  --fw_medium: 500;
  --fw_semi-bold: 600;
  --fw_bold: 700;
  --fw_extra-bold: 800;
  --fw_heavy: 900;

  /* COLOURS */
  --col_txt: #3d3d3d;
}

/*text*/
h1 {
  font-size: 56px;
  font-weight: var(--fw_bold);
}
h2 {
  font-size: 32px;
  font-weight: var(--fw_bold);
}
h3 {
  font-size: 16px;
  font-weight: var(--fw_semi-bold);
}
/*buttons*/
.btn {
  padding: 13px;
  color: #fcfcfc;
  background-color: #3c3c3c;
  font-weight: var(--fw_semi-bold);
}
.btn:hover {
  outline: 2px solid rgb(0, 0, 0);
  background-color: white;
  color: black;
}

/* HERO */

/*main*/
#hero {
  background-image: url("../img/background-image.png");
  background-position: center;
  background-size: cover;
  min-height: 768px;
  padding: 36px calc((142 / var(--xd-width)) * 100vw);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
/*navigation*/
#hero nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#hero nav div {
  font-weight: var(--fw_bold);
  margin-right: auto;
}
#hero nav ul {
  display: flex;
  gap: 24px;
  margin-right: calc((139 / var(--xd-width)) * 100vw);
}
#hero nav .search {
  margin-right: 40px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
#hero nav .search img {
  width: 100%;
}
#hero nav .btn {
  padding: 13px 42px;
}
/*header*/
#hero h1 {
  max-width: 760px;
  margin-bottom: 6px;
  margin-top: auto;
  color: #3c3c3c;
}
#hero p {
  max-width: 560px;
  margin-bottom: 32px;
  font-weight: var(--fw_semi-bold);
  color: var(--col_txt);
}
#hero .btn {
  padding: 13px 74px;
  margin-bottom: auto;
}

/* FEATURED */

/*main*/
#featured {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  max-width: 100%;
  gap: 24px;
  padding: 80px 142px;
}
#featured h2 {
  grid-column: 1/4;
  grid-template-rows: 1/2;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  color: var(--col_txt);
}
#featured h2::after {
  content: "";
  position: absolute;
  background-color: #cfcfcf;
  width: 80px;
  height: 2px;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}
/*articles*/
#featured article {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}
#featured article img {
  width: 100%;
  margin-bottom: 33px;
}
#featured article h3 {
  margin-bottom: 26px;
  color: var(--col_txt);
}
#featured article p {
  margin-bottom: 32px;
  color: #737373;
  font-weight: var(--fw_medium);
}
#featured article .btn {
  padding: 13px 38px;
}

/* NEWSLETTER */

/*main*/
#news {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 128px calc((419 / var(--xd-width)) * 100vw);
}
#news h2 {
  margin-bottom: 18px;
}
#news p {
  margin-bottom: 38px;
  font-weight: var(--fw_semi-bold);
}
/*subscribe*/
#news .subscribe {
  display: flex;
  width: 100%;
}
#news .subscribe input {
  background-color: white;
  outline: 2px solid #3e3e3e;
  padding: 13px 16px;
  width: 100%;
  margin-right: 16px;
  color: #3e3e3e;
  font-weight: var(--fw_semi-bold);
}
#news .subscribe button {
  padding: 13px 34px;
}

/* FOOTER */

/*main*/
footer {
  background-color: #d0d0d0;
  display: flex;
  align-items: start;
}
/*mockup*/
footer .mockup {
  margin-top: 128px;
  margin-left: 143px;
  margin-right: auto;
  max-width: 344px;
}
footer .mockup h2 {
  margin-bottom: 16px;
  color: var(--col_txt);
}
footer .mockup p {
  color: #737373;
  font-weight: var(--fw_medium);
}
/*resources*/
footer .resources {
  margin-top: 133px;
  margin-right: 182px;
  margin-bottom: 134px;
}
footer .resources h2 {
  margin-bottom: 36px;
  font-size: 24px;
  color: var(--col_txt);
  font-weight: var(--fw_bold);
}
footer .resources ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

footer .resources ul li a {
  color: var(--col_txt);
  font-size: 18px;
  font-weight: var(--fw_semi-bold);
}
